<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>余额下发记录</title>
	

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="stylesheet" type="text/css" href="/static/plugin/bootstrap/css/bootstrap.min.css?ver={{ globalJsVer }}" />
<link rel="stylesheet" type="text/css" href="/static/plugin/bootstrap/css/core.css?ver={{ globalJsVer }}" />
<link rel="stylesheet" type="text/css" href="/static/plugin/bootstrap/css/icons.css?ver={{ globalJsVer }}" />
<link rel="stylesheet" type="text/css" href="/static/plugin/bootstrap/css/components.css?ver={{ globalJsVer }}" />
<link rel="stylesheet" type="text/css" href="/static/plugin/bootstrap/css/menu.css?ver={{ globalJsVer }}" />
<link rel="stylesheet" type="text/css" href="/static/plugin/bootstrap-table/min.css?ver={{ globalJsVer }}" />
<link rel="stylesheet" type="text/css" href="/static/plugin/bootstrap-datetimepicker/min.css?ver={{ globalJsVer }}" />
<link rel="stylesheet" type="text/css" href="/static/css/common.css?ver={{ globalJsVer }}" />
<script type="text/javascript" src="/static/plugin/bootstrap/js/jquery.min.js?ver={{ globalJsVer }}"></script>
<script type="text/javascript" src="/static/plugin/bootstrap/js/jquery.app.js?ver={{ globalJsVer }}"></script>
<script type="text/javascript" src="/static/plugin/bootstrap/js/jquery.slimscroll.js?ver={{ globalJsVer }}"></script>
<script type="text/javascript" src="/static/plugin/bootstrap/js/bootstrap.min.js?ver={{ globalJsVer }}"></script>
<script type="text/javascript" src="/static/plugin/bootstrap/js/detect.js?ver={{ globalJsVer }}"></script>
<script type="text/javascript" src="/static/plugin/bootstrap/js/fastclick.js?ver={{ globalJsVer }}"></script>
<script type="text/javascript" src="/static/plugin/bootstrap/js/wow.min.js?ver={{ globalJsVer }}"></script>
<script type="text/javascript" src="/static/plugin/bootstrap-table/min.js?ver={{ globalJsVer }}"></script>
<script type="text/javascript" src="/static/plugin/bootstrap-table/zh-CN.min.js?ver={{ globalJsVer }}"></script>
<script type="text/javascript" src="/static/plugin/bootstrap-datetimepicker/min.js?ver={{ globalJsVer }}"></script>
<script type="text/javascript" src="/static/plugin/bootstrap-datetimepicker/zh-CN.js?ver={{ globalJsVer }}"></script>
<script type="text/javascript" src="/static/plugin/sweetalert2.js?ver={{ globalJsVer }}"></script>
<script type="text/javascript" src="/static/js/common.js?ver={{ globalJsVer }}"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script type="text/javascript" src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
<![endif]-->
<script type="text/javascript">
	var contextPath = "/";
	var apiPath = "/api/";
</script>
    <script type="text/javascript" src="/static/js/channel/issuerecord.js?ver={{ globalJsVer }}"></script>
</head>

<body class="fixed-left">
	<div id="wrapper">
        {{ include('./gm/torbar.twig', {menus: menus}) }}

		{{ include('./gm/menu.twig', {menus: menus}) }}

		<div class="content-page">
			<div class="content">
				<div class="container">
					<div class="row v-breadcrumb">
						<ol class="pull-left breadcrumb">
							<li>管理后台</li>
							<li class="active" data-nav="channel-issuerecord">余额下发记录</li>
						</ol>
					</div>

					<div class="row v-operate-bar">
						<!-- search banner -->
						<div class="btn-group v-search-bar" id="divSearch">
							<select class="form-control" data-field="channel"></select>
							<input type="text" class="form-control" data-field="platformNo" placeholder="渠道号" />
							<button type="button" class="btn btn-default" id="btnSearch">
								<span class="md md-search" aria-hidden="true"></span> 搜索
							</button>
						</div>
					</div>

					<div class="row">
						<table id="tabMain"></table>
					</div>

				</div><!--end div#container -->
			</div><!--end div#content -->
		</div><!--end div#content-page -->
	</div><!-- end div#wrapper -->
</body>
</html>